[submodule "users-service"]
	path = users-service
	url = https://github.com/armand1m/users-service.git
[submodule "core-services"]
	path = core-services
	url = https://github.com/armand1m/core-services.git
[submodule "commands"]
	path = commands
	url = https://github.com/armand1m/microservices-compose-utils
[submodule "hello-service"]
	path = hello-service
	url = https://github.com/armand1m/hello-service.git
